### 변수

In [ ]:
print("Hello, World!")

In [ ]:
name = "Chatbot"

print(name)

In [ ]:
name = input()
print(f"Hello, {name}!")

### 자료형

In [ ]:
# 단일 자료형
num = 10         # 정수
pi = 3.14        # 실수
status = True    # 논리형 (boolean)

# 시퀀스 자료형 [start : stop : step]
text = "Hello"                        # 문자열
fruits = ["사과", "바나나", "딸기"]     # 리스트
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
animal = ("강아지", "고양이", "토끼")    # 튜플

# 매핑형
student = {"이름": "철수", "나이": 26, "로그인 체크": True}   # 딕셔너리

# 집합형
people = {"철수", "영희", "민수"}                           # 셋(집합)

# print(type(text))
# print(type(num))
# print(type(pi))
# print(type(status))
# print(type(fruits))
# print(type(animal))
# print(type(student))
# print(type(people))

print(text[0])
print(fruits[2])
print(animal[-1])
print(student["나이"])
print(people - {"민수"})

print(len(animal))
print(number[1:5])
print(fruits[::-1])

H
딸기
토끼
26
{'철수', '영희'}
3
[2, 3, 4, 5]
[2, 4]
['딸기', '바나나', '사과']

In [ ]:
number = "21"
age = "21살"
print(int(number))
# print(int(age))

### 연산자 (사칙, 비교, 논리)

In [ ]:
a, b = 11, 4

# 사칙연산
print(a + b)   # 15   (더하기)
print(a - b)   # 7    (빼기)
print(a * b)   # 44   (곱하기)
print(a / b)   # 2.75  (나누기)

print(a // b)  # 2     (몫)
print(a % b)   # 3     (나머지)

In [ ]:
# 비교연산
print(a == b)   # False (같은가?)
print(a != b)   # True  (다른가?)
print(a > b)    # True
print(a < b)    # False
print(a >= 11)  # True
print(b <= 2)   # False

In [ ]:
# 논리연산
T, F = True, False

print(not T)   # False
print(not F)   # True
print(T and T)   # True
print(T and F)   # False
print(F and F)   # False
print(T or T)   # True
print(T or F)   # True
print(F or F)   # False

### 조건문

In [ ]:
age = 20

if age >= 19:
    print("성인입니다")
elif age >= 14:
    print("청소년입니다")
else:
    print("어린이입니다")

# if age <= 19 and age >= 14:
#     print("청소년입니다")

# if not age >= 14:
#     print("어린이입니다")

In [ ]:
point = (3, 0)

# if/elif 버전
if point[0] == 0 and point[1] == 0:
    print(f"원점에 있음: (x,y)=({point[0]},{point[1]})")
elif point[0] != 0 and point[1] == 0:
    print(f"x축에 있음: x={point[0]}")
elif point[0] == 0 and point[1] != 0:
    print(f"y축에 있음: y={point[1]}")
else:
    print(f"좌표 ({point[0]}, {point[1]})")

In [ ]:
point = (3, 0)

match point:
    case (0, 0):
        print(f"원점에 있음: (x,y)=(0,0)")
    case (x, 0):
        print(f"x축에 있음: x={x}")
    case (0, y):
        print(f"y축에 있음: y={y}")
    case (x, y):
        print(f"좌표 ({x}, {y})")

### 반복문

In [ ]:
i = 0   # 루프 변수

while i < 3:
    print("Count",i)
    i+=1

In [ ]:
for i in range(6):
    print("Count", i)

In [ ]:
for i in range(1,6):
    print("Count", i)

In [ ]:
for i in range(1,6,2):
    print("Count", i)

In [ ]:
for i in range(6,1,-1):
    print("Count", i)

In [ ]:
for i in ["James", "John", "Joy"]:
    print("Hello!", i)
else :
    print("\nFinished greeting!")

In [ ]:
fruits = ["사과", "바나나", "포도"]

for i, fruit in enumerate(fruits):
    print(f"{i}번째 과일: {fruit}")

In [58]:
fruits = ["사과", "바나나", "포도"]

for i, fruit in enumerate(fruits, start=1):
    print(f"{i}번째 과일: {fruit}")

1번째 과일: 사과
2번째 과일: 바나나
3번째 과일: 포도

In [ ]:
for i in range(1,11):
    if i % 3 == 0:
        continue
        # break
    print(i)

### 예외처리 구문

In [ ]:
try:
    x = int("hello")  # 문자열을 숫자로 변환 → 오류 발생
except ValueError:
    print("숫자로 변환할 수 없습니다.")
finally:
    print("\n예외처리 검증 완료")

### 함수

In [ ]:
def greet(name):
    return f"Hello, {name}"

print(greet("Smith"))

### 클래스

In [ ]:
class Person:
    def __init__(self, name, age:int = "1"):
        self.name = name
        self.age = age

    def introduce(self):
        return f"저는 {self.name}이고, {self.age}살 입니다."

p = Person("철수")
 
print(p.introduce())

In [ ]:
class AI:
    def __init__(self, name = "GPT", age):
        self.name = name
        self.age = age

    def introduce(self):
        return f"저는 {self.name}이고, {self.age}살 입니다."
    
p = AI(24)
 
print(p.introduce())

### 클래스 - 상속과 다형성

In [ ]:
# 부모 클래스
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print(f"{self.name}이(가) 소리를 냅니다.")

# 자식 클래스 1
class Dog(Animal):
    def speak(self):
        print(f"{self.name}이(가) 멍멍 짖습니다.")

# 자식 클래스 2
class Cat(Animal):
    def speak(self):
        print(f"{self.name}이(가) 야옹 합니다.")

# 자식 클래스 3
class Bird(Animal):
    def speak(self):
        print(f"{self.name}이(가) 짹짹 노래합니다.")

# 다형성 예시
animals = [Dog("바둑이"), Cat("나비"), Bird("참새")]

for a in animals:
    a.speak()  # 같은 메서드 호출이지만 객체 타입마다 다른 결과

상속 - Dog, Cat, Bird는 Animal을 상속받음.  
오버라이딩 - 각 클래스에서 speak()를 자기 방식대로 재정의.  
다형성 - 같은 a.speak() 호출인데 결과가 다 다름.

In [ ]:
# math 모듈 전체 불러오기
import math
print(math.sqrt(16))

# 모듈에서 특정 함수만 불러오기
from math import sqrt
print(sqrt(25))

# 모듈에 별칭(alias) 붙여서 불러오기
import math as m
print(m.pi)

In [ ]:
def main():
    print("이 파일을 직접 실행했을 때만 동작합니다.")

if __name__ == "__main__":
    main()